@font-face {
    font-family:"NerkoOne-Regular" ;
    src: url('./NerkoOne-Regular.ttf');
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background:linear-gradient( to right,rgba(255, 0, 179, 0.178),rgba(255, 0, 242, 0.199),rgba(255, 0, 179, 0.288));
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    overflow: hidden;
}
h1{
    font-family: 'NerkoOne-Regular';
    text-align:center;
    font-size:40px;
    padding-bottom: 40px;
    padding-top: 10px;
}
h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family:'NerkoOne-Regula';
}
.digitos{
    display:flex;
    justify-content:center;
    align-items:center;
}
.visor{
    margin:auto;
    width: 220px;
    height:40px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom:5px;
    padding-left:10px
}

.caracteres{
    display: grid;
    grid-template-columns:3fr 3fr 3fr 3fr;
    column-gap: unset;
    text-align:center;
    cursor: pointer;

}
.num{
    padding:5px;
    margin:4px;
    border-radius: 50%;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    width:50px;
    height:50px;

}
.zero{
    display:grid;
    grid-template-columns: 1fr;
}
.mais, .menos, .dividir,.porcetagem,.restodadiv,.vezes,.limpar,.igual,.ponto,.corrige{
    color:orangered;
    padding:5px;
    border:1px solid black;
    border-radius: 50%;
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:4px;

}
.igual{
    background-color:white;
    font-size:30px;
}
.limpar{
    background-color:rgba(207, 56, 56, 0.212);
}
.corrige{
    background-color:rgba(255, 217, 0, 0.37);
}
.limpar,.corrige{
    font-size: 15px;
    font-family: 'NerkoOne-Regular';
    padding: 15px;

}
.resultado{
    height: 310px;
    min-width: 290px;
    display: none; 
    align-items: center;
    flex-direction: column;
    margin-left:10px;
    background-color: rgb(207 56 56 / 21%);
    
}
.valorflexi{
    display:flex;

}
.valor2{
    margin-left: 10px;}
.valor1,.res{
    margin-left:20px;
}
.traço{
    background-color: black;
    width: 70px;
    height: 1px;
}
.abriu{
    display:flex;
    justify-content: space-between;
    align-items: self-start;
    margin-left:30px;
}
.abriu_visor{
    margin-left:30px
}